p {
  font-family: Lato; font-size: 120px; font-weight: bold; width: 320px; margin: 40px auto; line-height: 120px; padding: 20px; padding-botttom: 30px; background: #f0f0f0; display: block; text-align: center; border-radius: 20px;
}

.counter {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
